<h1><%= @movie.title %></h1>
<p><%= @movie.description %></p>
<p><%= @movie.year_released %></p>

<a href="<%= edit_movie_path %>"> Edit </a>
<br>
<%= button_to "Delete movie", @movie, :method => :delete%>